<!DOCTYPE html>
<html lang="en">
<script src="angular/angular-1.7.2/angular.min.js"></script>
<script src="/oda.js"></script>


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <!--<style>-->
        <!--table {-->
            <!--font-family: arial, sans-serif;-->
            <!--border-collapse: collapse;-->
            <!--width: 100%;-->
        <!--}-->

        <!--td, th {-->
            <!--border: 1px solid #dddddd;-->
            <!--text-align: left;-->
            <!--padding: 8px;-->
        <!--}-->

        <!--tr:nth-child(even) {-->
            <!--background-color: #dddddd;-->
        <!--}-->
    <!--</style>-->


</head>
<body>


<div ng-init="pageOpen ()" ng-app="BookingApplication" ng-controller="OdaController">

    <div class="container">
        <h2>ODA</h2>

        <table class="table">
            <thead>
            <tr>
                <th>Oda No</th>
                <th>Oda İsmi</th>
                <th>Oda Türü </th>
                <th>Oda Durumu </th>

            </tr>
            </thead>
            <tbody>
                 <tr  ng-repeat="oda in odaList">

                    <td>{{oda.odaNo}}</td>
                     <td>{{oda.odaIsmi}}</td>
                     <td>{{oda.odaTuru}}</td>
                     <td>{{oda.odaDurumu}}</td>
                     <td>  <button type="button" class="btn btn-info"  ng-click="selectOda(oda)" >Güncelle</button></td>
                     <td>  <button type="button" class="btn btn-info"  ng-click="deleteOda(oda)" >Sil</button></td>

                 </tr>
            </tbody>
        </table>
        <div class="form-group">
            <label for="odaNo"> Oda Numarası</label>
            <input type="text" class="form-control" id="odaNo" ng-model="oda.odaNo" placeholder="Oda Numarası">
        </div>
        <div class="form-group">
            <label for="odaIsmi">Oda Adı</label>
            <input type="text" class="form-control" id="odaIsmi" ng-model="oda.odaIsmi" placeholder="Oda İsmi">
        </div>
        <div class="form-group">
            <label for="odaDurumu">Oda Durumu</label>
            <input type="text" class="form-control" id="odaDurumu" ng-model="oda.odaDurumu" placeholder="Oda Durumu">
        </div>
        <div class="form-group">
            <label for="odaTuru">Oda Türü</label>
            <input type="text" class="form-control" id="odaTuru" ng-model="oda.odaTuru" placeholder="Oda Turu">
        </div>

        <button type="button" class="btn btn-info"  ng-click="save()" >Kaydet</button>

    </div>


</div>


</body>
</html>